# what is pandas?

# Pandas is a Python library that provides powerful and easy-to-use data structures and 
functions for data analysis and manipulation. 
Pandas is built on top of NumPy, 
a library for numerical computing,
and can handle various types of data,
such as tabular, time series, text, and more.

# Difference between series and dataframe ?

In [1]:
#A series and a dataframe are two main data structures in pandas, a Python library for data analysis and manipulation.
#A series is a one-dimensional array of labeled data, similar to a column in a spreadsheet.
#The main difference between a series and a dataframe is that a series can only store one type of data, while a dataframe can store multiple types of data.
#A series also has a single index, while a dataframe has a row index and a column index

# Difference between loc and iloc ?

In [4]:
#•  loc selects rows and columns by labels, which can be strings, integers, or a range of values.

In [5]:
#•  iloc selects rows and columns by integer positions, which start from 0 and are exclusive of the end value.

# what does value_counts() ?

In [6]:
#The value_counts() function is a pandas method that returns a Series containing the frequency of each unique value in a Series or a DataFrame.
#It can be used to count the number or proportion of occurrences of different values in a data set

# how do you handle missing values using pandas ?

In [7]:
#Missing values, often represented as NaN (Not a Number),
#can cause problems during data analysis and manipulation. Pandas provides several functions to handle missing values in a DataFrame, such as:

#•  isnull() and notnull() to detect and filter missing values.

#•  dropna() to remove rows or columns with missing values.

#•  fillna() to replace missing values with a specified value or a method (such as mean, median, mode, etc.).

#•  replace() to replace missing values with another value or a mapping.

#•  interpolate() to fill missing values with linear or other interpolation methods.

# How do you merge 2 tables using pandas ?

In [8]:
#To merge two tables using pandas, you can use the pd.merge() function, 
#which takes two DataFrames as arguments and returns a new DataFrame that combines the data from both tables based on a common key or keys. 
#You can specify how to join the tables using the how argument,
#which can be 'inner', 'outer', 'left', or 'right'

# What does group by in pandas ?

In [2]:
#Group by in pandas is a method that allows you to split a DataFrame into smaller groups based on some criteria, 
#such as the values of a column or a function. 
#You can then apply a function to each group separately and combine the results into a new DataFrame

In [10]:
import pandas as pd
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'subject': ['Math', 'Math', 'English', 'English', 'Math'],
'grade': [90, 80, 85, 75, 95]})
print(df)

      name  subject  grade
0    Alice     Math     90
1      Bob     Math     80
2  Charlie  English     85
3    David  English     75
4      Eve     Math     95

In [12]:
maths=[df.groupby('subject').get_group('Math')]
maths

[    name subject  grade
 0  Alice    Math     90
 1    Bob    Math     80
 4    Eve    Math     95]

# difference between CrossTab vs Pivot table ?

In [13]:
#•  CrossTab accepts both pandas DataFrames and NumPy arrays as inputs, while Pivot table only accepts pandas DataFrames.
#•  CrossTab can normalize the resulting table by dividing the values by the row or column totals, while Pivot table does not have this option.

#•  CrossTab has a default aggregation function of count, while Pivot table has a default aggregation function of mean.

# In  which scenerio what kind of plot you will use ? Numerical ==? , Categorical ==?

In [14]:
#•  Numerical data are data that can be measured or counted, such as height, weight, temperature, etc. Some common plots for numerical data are:

#•  Histogram: A histogram shows the frequency distribution of a single numerical variable by dividing the data into bins and counting the number of observations in each bin. 
    #It can be used to examine the shape, spread, and outliers of the data.

#•  Scatter plot: A scatter plot shows the relationship between two numerical variables by plotting the points on a Cartesian plane
    #. It can be used to explore the correlation, trend, and clustering of the data.

#•  Line plot: A line plot shows the change of a numerical variable over time or another continuous variable by connecting the points with a line.
    #It can be used to visualize the trend, pattern, and seasonality of the data.

#•  Box plot: A box plot shows the summary statistics of a numerical variable by displaying the minimum, maximum, median, first quartile, and third quartile of the data.
    #It can be used to compare the distribution, variability, and outliers of the data across different groups.

#•  Spline chart: A spline chart is similar to a line plot, but it uses a smooth curve instead of a straight line to connect the points. 
    #It can be used to show the trend and variation of the data more smoothly and elegantly.

In [15]:
 # Categorical data are data that can be divided into discrete groups or categories, such as gender, color, animal, etc. Some common plots for categorical data are:

#  Bar chart: A bar chart shows the frequency or proportion of a single categorical variable by using rectangular bars with heights or lengths proportional to the values.
  #It can be used to compare the counts or percentages of the data across different categories.

#•  Pie chart: A pie chart shows the proportion of a single categorical variable by using a circular chart divided into sectors with angles proportional to the values. 
 #   It can be used to show the relative size of the data in each category as a part of the whole.

#•  Treemap chart: A treemap chart shows the proportion of a single or multiple categorical variables by using nested rectangles with areas proportional to the values.
 #   It can be used to show the hierarchical structure and relative size of the data in each category and subcategory.

#•  Sunburst chart: A sunburst chart shows the proportion of a single or multiple categorical variables by using a circular chart with concentric rings divided into sectors with angles proportional to the values. 
 #   It can be used to show the hierarchical structure and relative size of the data in each category and subcategory.

#•  Sankey diagram: A Sankey diagram shows the flow of a single or multiple categorical variables by using curved links with widths proportional to the values.
 #   It can be used to show the movement and transformation of the data from one category to another.

# What does TimeDelta in Pandas ?

In [16]:
#TimeDelta in pandas is a data type that represents a duration, the difference between two dates or times.
#It is similar to python's datetime.
#timedelta, but also compatible with numpy's timedelta64.

In [17]:
 import pandas
import pandas as pd

# create a TimeDelta object from a string
td = pd.to_timedelta("1 days 2 hours")
print(td)

1 days 02:00:00

# How can you extract day , month , year in a date column using pandas ?

In [18]:
#To extract day, month, and year from a date column using pandas, 
#you can use the pd.to_datetime() function to convert the date column into a pandas datetime object.
#Then, you can use the dt accessor to extract the day, month, and year components from the datetime object.

In [19]:
import pandas as pd
df = pd.DataFrame({'date': ['2021-08-23', '2021-08-24', '2021-08-25']})
print(df)

         date
0  2021-08-23
1  2021-08-24
2  2021-08-25

In [22]:
# convert the date column to a datetime object
df['date'] = pd.to_datetime(df['date'])
# extract the day, month, and year from the date column
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

df

        date  day  month  year
0 2021-08-23   23      8  2021
1 2021-08-24   24      8  2021
2 2021-08-25   25      8  2021

# How can you extract hours , minutes , seconds in a datetime column ?

In [25]:
import pandas as pd
df = pd.DataFrame({'datetime': ['2021-08-23 12:00:00', '2021-08-24 13:30:00', '2021-08-25 14:45:00']})
df['datetime'] = pd.to_datetime(df['datetime'])
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second
df

             datetime  hour  minute  second
0 2021-08-23 12:00:00    12       0       0
1 2021-08-24 13:30:00    13      30       0
2 2021-08-25 14:45:00    14      45       0

# How do you read a excel file , csv file and json file in jupyter notebook using pandas ?

In [26]:
#•  pd.read_excel(): This function reads an excel file and returns a pandas DataFrame.
#•  pd.read_csv(): This function reads a csv file and returns a pandas DataFrame. 
#•  pd.read_json(): This function reads a json file and returns a pandas DataFrame.

# How can you create  excel data from a dataframe using pandas ?

In [27]:
#To create excel data from a dataframe using pandas, you can use the pd.DataFrame.to_excel() method, 
#which takes a dataframe and a file name as arguments and writes the dataframe to an excel file

In [28]:
import pandas as pd
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie'],
'age': [25, 30, 35],
'gender': ['F', 'M', 'M']})

In [29]:
# write the dataframe to an excel file
df.to_excel("data.xlsx")